<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title> - CCM 103</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="../assets/css/docs.css">
		
	</head>
	
	<body>
		
		<div class="container">
			
			<div class="row">
				<div class="col-xs-12 page-header">
					<h1>TITLE</h1>
					
				</div><!-- .col-xs-12 -->
				<div class="col-xs-9">
					
				</div><!-- .col-xs-9 -->
				<div class="col-xs-3">
					
				</div><!-- .col-xs-3 -->
			</div><!-- .row -->
			
		</div><!-- .container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</body>
<html>

<div class="example">
	
</div><!-- .example -->

<div class="highlight">
	<pre>
		<code class="language-html" data-lang="html">
			
		</code>
	</pre>
</div>